<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>BUSCAR</title>
</head>
<body>

  <!--  <h3>Buscar Por Nome</h3>
    <form action="/cadastrar" method="post" th:class="form-group">
        <label for="nomeProduto">Produto: </label>
        <input type="text" id="nomeProduto" placeholder="Digite o nome do Produto" class="form-control">
    </form>

-->

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>